<!-- About Section -->
    <section id="parking" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Parking</h2>
                    <h3 class="section-subheading text-muted">Follow the rules and make everyones life easier</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                      <li class="timeline-inverted">
                        <div class="timeline-image">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-automobile fa-stack-2x text-primary icon-alignment" style="color:green;"></i>
                          </span>
                        </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4 class="subheading">
                                    Carpool Please
                                  </h4>
                              </div>
                              <div class="timeline-body">
                                <p class="text-muted">
                                  The best way to park at the Malibu Dream House is to park with people.
                                  There's limited availability of spaces please come with people and carpool.
                                  There are a bit fewer than 30 parking spaces available at the house so we need to
                                  make sure we bring as many people as we can in as few cars as we can.
                                </p>
                              </div>
                          </div>
                      </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/parking/notecard.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">
                                      Notecard With Your Full Name and Number
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    As you park ensure you leave a notecard in your window with your full name and cell phone number.
                                    This is so if anything happens someone needs you to move or anything we can contact you.
                                    No one wants to track the owner of a mystery car.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <span class="fa-stack fa-4x">
                                  <i class="fa fa-hand-spock-o fa-stack-2x text-primary icon-alignment" style="color:orange;"></i>
                              </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Listen To The Parking Czar</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      At the larger events parking Czars will be recruited.
                                      Listen to them. If there isn't a Parking Czar helping you ensure you read the rest of the rules
                                      </p>
                                      <p class="text">
                                        <strong>
                                        MAKE SURE YOU HAVE A NOTECARD IN YOUR CAR.
                                      </strong>
                                      </p>
                                </div>
                            </div>
                        </li>
                        <li>
                          <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-space-shuttle fa-stack-2x text-primary icon-alignment" style="color:black;"></i>
                            </span>
                          </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Go Long, Go Deep</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If you're staying a while go as deep as you can on the slopes and park there.
                                      Park on the hills. If you get stuck there will be help.
                                    </p>
                                    <p class="text">
                                      <strong>You can only park in the flat spots if you're camping in your car.</strong>
                                    </p>
                                    <p class="text-muted">
                                      If you're not staying very long then try and use the easier access parking so we don't have to move people
                                      that have gone long and deep.

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-exclamation-circle fa-stack-2x text-primary" style="font-size: 2.7em; margin-top:0px; color:red; left:-10px"></i>
                            </span>
                          </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Follow The Signs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Parking Czars will put out cones, and there should be well marked parking and tent markers. There are photo's below describing how to use them but use your common sense.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" style="background:#59D8D1;">
                                <h4>When It's <br />
                                    time to Leave
                                </h4>
                            </div>
                        </li>
                        <li>
                          <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-road fa-stack-2x text-primary icon-alignment" style="color:black;"></i>
                            </span>
                          </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Drive Sober</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">There are tons of Police on PCH ensure you don't endanger yourself or anyone else. <br /> Common sense really.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <div class="timeline-image">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-cutlery fa-stack-2x text-primary icon-alignment" style="color:#46CDF5;"></i>
                            </span>
                          </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Clean Up</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Clean something before you leave. <br /> Take everything you brought home.</p>
                                    <p class="text-muted"> <strong>The Dream House Doesn't Need More Coolers</strong> </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
