<!-- Services Section -->
    <section id="rules">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rules</h2>
                    <h3 class="section-subheading text-muted">
                      These are some rules for everyone to follow to make sure all of the events go smoothly.
                      Please follow them or get kicked out.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-fort-awesome fa-stack-1x fa-inverse" style="z-index:2;"></i>
                      <i class="fa fa-fort-awesome fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">THE #1 RULE<br /> DON'T ASK THE HOSTS</h4>
                    <p class="text-muted">
                      Ask people that have been at the house before or anyone else that's around. It sucks to throw a party and answer literally 200 questions in a day.
                  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-file-text-o fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Leave A Notecard in the Dash</h4>
                    <p class="text-muted">When you park leave your full name and number in the dash of your car. If someone needs to move and you're in the way we don't want to spend an hour finding you. <br /><strong> Be cool.</strong></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-glass fa-stack-1x fa-inverse" style="z-index:2;"></i>
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">No Glass Anywhere/Closed Containers</h4>
                    <p class="text-muted">
                      This is a rule upgrade from "No Glass by the Pool". Glass anywhere at a big party is an opportunity for disaster.  The only glass allowed on premise is inside the fridge, on the outdoor bar or in the trash.  Pour beer, champagne, wine, etc. directly into a sealed non-glass container (such as a travel mug or sippy cup). We are transitioning out of "open cups" to reduce spills.  Bring Your Own!  Saves waste.
                  </p>
                </div>


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-male fa-stack-1x fa-inverse" style="z-index:10"></i>
                        <i class="fa fa-female fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Do Not Use the Inside Restrooms</h4>
                    <p class="text-muted">
                      Our septic can't keep up with a large crowd, so indoor restrooms are off limits.  There are two compost toilets: the blue "Turdis" or the white Compost House near the parked RV in front.  Click here for instructions on how to use a compost toilet, their environmental benefits, and exact location.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-tree fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Men Can Pee Discretely In the Bushes</h4>
                    <p class="text-muted">
                      Men: Rather than fill up our compost toilets quickly, you are welcome to go pee in the bushes or the fence/property line so long as it's not a "public show". Urine helps to scare away the deer & coyotes, so you're helping keep our chickens and vegetables safe from predators.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-shopping-basket fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">BYO Everything & Label All The Things</h4>
                    <p class="text-muted">
                      Our events are not catered. Bring food, drinks, ice, coolers, your own serving bowl, etc.  Potluck style is encouraged, but you are not required to share, especially if you are on a budget or have special dietary needs (or brought fancy champagne!).  Generally speaking, our crowd likes protein and "real food" as opposed to crackers and cookies. Home cooked food is not necessary. Vintage Grocers has an excellent deli, located just a few miles south on PCH and Trancas. Label All Your Things! <strong>TAKE IT HOME</strong> when the party is over.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-paw fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Keep The Doors Closed</h4>
                    <p class="text-muted">
                      Make sure every door and screen are always closed.
                      The hosts have 3 cats Midas, Zumee, and Mayebelle and want to keep them.
                      Remind people if you see them leaving doors open, but close them first it's everyones responsibilities.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-music fa-stack-2x text-primary" style="color:#59D8D1;"></i>
                        <i class="fa fa-moon-o fa-stack-1x fa-inverse" style="z-index:10; color:#B6E471; font-size:110px;"></i>
                    </span>
                    <h4 class="service-heading">Quiet Time</h4>
                    <p class="text-muted">
                      Quiet Hours in the house starting ~4:30am. If you are still awake and happy, the garage and outdoor areas are available though the main sound system will be turned off. There's speakers for an iPod or laptop in the garage, and acoustic guitars are so lovely. Nobody in the house during quiet hours unless you are sleeping.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-cutlery fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Use Outdoor Bar, Fridge, Sink instead of the Kitchen</h4>
                    <p class="text-muted">
                      The outdoor area near the jacuzzi is now an "almost fully functional" kitchen with room for drinks, fridge, food table, sink with running water, gas grill, dishes, silverware and tools.  When you arrive, take your drinks & snacks directly to this area. Do NOT store anything in the indoor fridge or use our stove or oven without permission (which may be granted, but is generally discouraged until breakfast). For more details about the outdoor kitchen, click here:
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-magic fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Clean Up After Yourselves and Others</h4>
                    <p class="text-muted">
                      Clean as you go. Clean up after others. At a minimum, throw your stuff away instead of leaving cups or plates in random spots.  Take out the trash when it's full.  Clear the food table. Toss the empty bottles so the bar stays functional.   If every guest spent an extra 5 or 10 minutes doing this, the party would be mostly cleared at the end.  Thank you Awesome Helpers who do all the heavy lifting at the end of a party.  You are angels.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-child fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Towel & Robe System</h4>
                    <p class="text-muted">
                      Towels are available for your use under the futon by the jacuzzi, and robes are located in the closet in the Hat Room. Save water!  Towel Fairies are volunteers who run damp towels through the dryer, fold them and put them back while the party is ongoing. Otherwise, they'll be wet and smelly the next day, requiring many loads of laundry, wasting water and time.  You may hang your towel on a hook if you are planning to soak again. If you see a large volume of abandoned towels hanging on the futon, this is YOUR opportunity to be a Towel Fairy.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-ban fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">ZTFA</h4>
                    <p class="text-muted">
                      ZTFA is our old school term "Zero Tolerance for A--holes".  During an event, this means: leave your drama at the door, don't get out of control or break any of the Harsh Rules. If there's an issue, that person would be asked to leave and not welcomed back.  Also, since everyone here is part of a community we've chosen, ZTFA also applies beyond just the scope of our events.  If there's a concern about any particular individual and you have FACTS to share, please inform us so we can handle it in an appropriate manner.  Merely disliking someone is not grounds for ZTFA.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-circle-o fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Only Smoke In The Circle Of Shame</h4>
                    <p class="text-muted">You can smoke green stuff anywhere outside, but keep cigarettes confined to the circle of shame.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-lock fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Upstairs = Off Limits</h4>
                    <p class="text-muted">
Only the hosts and pre-approved guests are allowed upstairs. Even if one of those guests says "it's ok to come up here".  Even if one of the cats is being really cute. Nobody is allowed upstairs without our approval.</p>
                </div>
            </div>
        </div>
    </section>
