<!-- Services Section -->
    <section id="rules">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Harsh Rules</h2>
                    <h3 class="section-subheading text-muted">
                      Harsh Rules are strictly enforced for the safety and joy of all our invited guests. Please police each other. We take them seriously, and so should you.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-fort-awesome fa-stack-1x fa-inverse" style="z-index:2;"></i>
                      <i class="fa fa-fort-awesome fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">THE #1 RULE<br /> DON'T ASK THE HOSTS</h4>
                    <p class="text-muted">
                      We have many regulars who will gladly help you, if the answer is not already on this website. It is too stressful on your hosts to answer 200+ questions in a single evening.
                  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-user-plus fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">No Plus Ones</h4>
                    <p class="text-muted">
                      Direct invitation only. This is our <strong>HOME</strong>, not a venue. Your spouse is welcome. Dogs or babies OK if pre-approved. No toddlers or children. No randoms or dates you don't actually know that well. This is how we preserve the safety and friendy vibe of our events.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-circle-o fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Only Smoke In The Circle Of Shame</h4>
                    <p class="text-muted">You can smoke green stuff or vapor anywhere outdoors, but cigarettes are strictly confined to the Circle of Shame. No chairs allowed in the Circle of Shame.</p>
                </div>

                <div class="clearfix visible-lg-block visible-md-block"></div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-file-text-o fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Contact Info on Every Parked Car</h4>
                    <p class="text-muted">It is <strong>REQUIRED</strong> for every car parked on premise to have a notecard with your full name and number clearly displayed on the dash. If there are any issues, we must know who you are and how to reach you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-paw fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Close Doors for Cats</h4>
                    <p class="text-muted">
                      Doors must stay closed QUICKLY so our cats Midas, Zumee, and Mayebelle stay safe indoors. The only exception is the slider that leads to the Catio. Plenty of signs to remind you.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-glass fa-stack-1x fa-inverse" style="z-index:2;"></i>
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">No Glass Anywhere/Closed Containers</h4>
                    <p class="text-muted">
                      This is a rule upgrade from "No Glass by the Pool". No glass anywhere! Pour all drinks directly into a sealed non-glass container such as a travel mug or sippy cup, to reduce spills. Bring Your Own Cup!
                  </p>
                </div>

                <div class="clearfix visible-lg-block visible-md-block"></div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-shopping-basket fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">BYO Everything & Label All The Things</h4>
                    <p class="text-muted">
                      Our events are not catered. Bring everything you need to take care of yourself including food, drinks, ice, cooler, tools, tent, pillow, etc. Sharing is encouraged but not required. Take home your leftovers. Healthy food encouraged! Label All Your Things!
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-magic fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Clean Up After Yourselves and Others</h4>
                    <p class="text-muted">
                      "Cleaning as we go" is very central to our culture here. This means everyone! Here's a partial list of things to do during the party: Take out the trash. Straighten up the food table. Throw away empty bottles from the bar. Wipe up spills. Gather & wash used cups.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-cutlery fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Use Outdoor Kitchen, not Indoor</h4>
                    <p class="text-muted">
                      The outdoor area near the jacuzzi is now an "almost fully functional" kitchen. When you arrive, take your drinks, food & coolers directly to this area NOT the indoor kitchen. Grill/eat/drink/wash dishes all in one area.
                    </p>
                </div>

                <div class="clearfix visible-lg-block visible-md-block"></div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-ban fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">ZTFA</h4>
                    <p class="text-muted">
                      ZTFA means "Zero Tolerance for A--holes". Leave your drama at the door, don't get out of control, don't break any Harsh Rules. If there's a ZTFA issue, you will be asked to leave immediately and no longer welcome here. If anyone has a legitimate concern about a guest's behavior, please advise your hosts immediately..
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-bullseye fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">A Drum is Not A Table</h4>
                    <p class="text-muted">
                      <strong>STOP SITTING YOUR DRINKS, KEYS, OR JACKET</strong> on our drums, fish tank, Infinity Box, or other precious art. Not even for a minute. <strong>Police each other!</strong>
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-black-tie fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Clothing Optional Pool & Spa</h4>
                    <p class="text-muted">
                      Keep your clothes on, and your hands to yourself, in all public spaces. It's not that kind of event. You may remove your clothing for the pool & spa, but you can also wear a suit. Whatever is more comfortable. Generally speaking, people wear suits in the daytime.
                    </p>
                </div>

                <div class="clearfix visible-lg-block visible-md-block"></div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-male fa-stack-1x fa-inverse" style="z-index:10"></i>
                        <i class="fa fa-female fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Compost Toilets</h4>
                    <p class="text-muted">
                      Indoor restrooms are <strong>OFF LIMITS</strong> for all large events. Our septic can't manage large crowds. There are two outdoor compost toilets: the blue "Turdis" or the white Compost House in front, with portable sinks so you can wash up. Men: it's OK to pee out in the field so we don't fill up our toilets so quickly.  Just be private about it.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-meh-o fa-stack-2x text-primary" style=""></i>
                    </span>
                    <h4 class="service-heading">No Bobby Pins</h4>
                    <p class="text-muted">
                      Bobby pins will ruin our pool system! They create rust damage and can tear holes in the filter. Do NOT remove bobby pins from your hair and place them anywhere by the pool or patio area. Store them safely in your purse,
                      or don't wear them to our events.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-headphones fa-stack-2x text-primary" ></i>
                    </span>
                    <h4 class="service-heading">Quiet Time</h4>
                    <p class="text-muted">
                      Quiet Hours are from 4 - 9am, which means all amplified sound is turned off. If you are still awake and happy, you can hang out in the garage or any outdoor areas, talking at normal volumes. Nobody in the house unless you're sleeping.
                    </p>
                </div>

                <div class="clearfix visible-lg-block visible-md-block"></div>



                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-lock fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Upstairs = Off Limits</h4>
                    <p class="text-muted">
                      Only the hosts and pre-approved guests are allowed upstairs. Nobody is allowed upstairs without the hosts approval.
                    </p>
                </div>



                 <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-mobile fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Put Your Phone Away</h4>
                    <p class="text-muted">
                        Too many users on one site means we can't get access if there's an emergency. Besides, you are here to enjoy nature and conversation. So <strong>PUT YOUR PHONE AWAY</strong>
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-gavel fa-stack-2x text-primary" style="color:red;"></i>
                    </span>
                    <h4 class="service-heading">Don't Be Stupid</h4>
                    <p class="text-muted">
                      Seriously, be cool man
                    </p>
                </div>

            </div>

            <hr id="location" style="padding-top:60px;"/>

            <div class="row text-center" style="margin-top:60px;">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-map-signs fa-stack-2x text-primary"></i>
                  </span>
                  <h4 class="service-heading">Finding Us</h4>
                  <p class="text-muted">
                    We don't publish our street address.
                    If you use GPS, enter "El Matador State Beach, Malibu, CA 90265" and look for the driveway directly across from it.
                    Ours is the third/last house at the top of the driveway, blue tile roof and brightly lit at night.
                  </p>
                  <p class="text-muted">
                    If the gate is closed, onsite parking might be full.
                    You can dial 002 at the gate to be buzzed in (if we answer).
                    Otherwise park on PCH and then walk the path to get around the gate and up our driveway.
                  </p>
                  <p class="text-muted">
                      If you park on PCH, pay attention to the No Parking signs! You <strong>will</strong> be ticketed if you park illegally.
                  </p>

                  <p class="text-muted">
                    Please be respectful of the neighbors who share our driveway!
                    Do not walk, park or linger anywhere near/on their property.
                    Be quiet when passing by.
                  </p>
              </div>
              <div class="col-md-3">
              </div>
            </div>
        </div>
    </section>
