<!-- Services Section -->
    <section id="rules">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Harsh Rules</h2>
                    <h3 class="section-subheading text-muted">
                      Harsh Rules are strictly enforced for the safety and joy of all our invited guests. Please police each other. We take them seriously, and so should you.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-fort-awesome fa-stack-1x fa-inverse" style="z-index:2;"></i>
                      <i class="fa fa-fort-awesome fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">THE #1 RULE<br /> DON'T ASK THE HOSTS</h4>
                    <p class="text-muted">
                      We have many regulars who will gladly help you, if the answer is not already on this website. It is too stressful on your hosts to answer 200+ questions in a single evening.
                  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-file-text-o fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Contact Info on Every Parked Car</h4>
                    <p class="text-muted">It is <strong>REQUIRED</strong> for every car parked on premise to have a notecard with your full name and number clearly displayed on the dash. If there are any issues, we must know who you are and how to reach you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <i class="fa fa-glass fa-stack-1x fa-inverse" style="z-index:2;"></i>
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">No Glass Anywhere/Closed Containers</h4>
                    <p class="text-muted">
                      This is a rule upgrade from "No Glass by the Pool".  No glass anywhere! (sitting on the bar or in the fridge is OK). Pour all drinks directly into a sealed non-glass container (i.e. travel mug or sippy cup). We are discouraging "open cups" to reduce spills. Bring Your Own Cup!
                  </p>
                </div>


                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-male fa-stack-1x fa-inverse" style="z-index:10"></i>
                        <i class="fa fa-female fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Compost Toilets</h4>
                    <p class="text-muted">
                      Our septic can't manage large crowds, so indoor restrooms are <strong>OFF LIMITS</strong>. There are two outdoor compost toilets: the blue "Turdis" or the white Compost House in front. Click here for helpful instructions.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-tree fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Men Can Pee in the Field</h4>
                    <p class="text-muted">
                      Men: Rather than fill up our compost toilets quickly, you are welcome to go pee <strong>PRIVATELY</strong> along the fence/property line. Urine helps scare away the deer & coyotes.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-shopping-basket fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">BYO Everything & Label All The Things</h4>
                    <p class="text-muted">
                      Our events are not catered. Bring everything you need to take care of yourself including food, drinks, ice, cooler, tools, tent, pillow, etc. Sharing is encouraged but not required, and you can take it home with you. Healthy food encouraged! Vintage Grocers nearby has an excellent deli. Label All Your Things!
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-paw fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Close Doors for Cats</h4>
                    <p class="text-muted">
                      Doors must stay closed QUICKLY so our cats Midas, Zumee, and Mayebelle stay safe indoors. The only exception is the slider that leads to the Catio. Plenty of signs to remind you.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-music fa-stack-2x text-primary" style="color:#59D8D1;"></i>
                        <i class="fa fa-moon-o fa-stack-1x fa-inverse" style="z-index:10; color:#B6E471; font-size:110px;"></i>
                    </span>
                    <h4 class="service-heading">Quiet Time</h4>
                    <p class="text-muted">
                      Quiet Hours are from 4 - 9am, which means all amplified sound is turned off. If you are still awake and happy, you can hang out in the garage or any outdoor areas, talking at normal volumes. Nobody in the house unless you're sleeping.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-cutlery fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Use Outdoor Kitchen, not Indoor</h4>
                    <p class="text-muted">
                      The outdoor area near the jacuzzi is now an "almost fully functional" kitchen. When you arrive, take your drinks, food & coolers directly to this area NOT the indoor kitchen. Grill/eat/drink/wash dishes all in one area. More details here:
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-ban fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">ZTFA</h4>
                    <p class="text-muted">
                      ZTFA means "Zero Tolerance for A--holes". Leave your drama at the door, don't get out of control, don't break any Harsh Rules. If there's a ZTFA issue, you will be asked to leave and no longer welcome here. That's what Zero Tolerance means. Also, since everyone here is part of a community we've chosen, ZTFA may apply to a problem at other events. Merely disliking someone is not grounds for ZTFA. Our rules and behavior codes are very clear.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-magic fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Clean Up After Yourselves and Others</h4>
                    <p class="text-muted" style="height:216px;">
                      Clean as you go. Clean up after each other. At the very least, throw away your trash instead of leaving cups or plates randomly. Unsure what to do? Here's a list: Take out the trash. Clear the food table. Collect empty bottles from the bar.  Clean up spills. Wash used cups. Etc.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-child fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Towel & Robe System</h4>
                    <p class="text-muted" style="height:240px;">
                      Towels & robes are available for your use. Ask a regular if you can't find them. Save water! Towel Fairies are volunteers (like you!) who run damp towels through the dryer, fold them and put them back while the party is ongoing. Otherwise, they'll be wet and smelly the next day, requiring many loads of laundry. You may hang your towel on a hook if you are planning to soak again.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-black-tie fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Clothing Optional Pool & Spa</h4>
                    <p class="text-muted">
                      Keep your clothes on, and your hands to yourself, in all public spaces. It's not that kind of event. You may remove your clothing for the pool & spa, but you can also wear a suit. Whatever is more comfortable.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-user-plus fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">No Plus Ones</h4>
                    <p class="text-muted">
                      Our events are direct invitation only, which preserves the safety and friendly energy of our events. Your spouse is welcome. No randoms. No last minute requests, either.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle-o fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-circle-o fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Only Smoke In The Circle Of Shame</h4>
                    <p class="text-muted">You can smoke green stuff or vapor anywhere outdoors, but cigarettes are strictly confined to the Circle of Shame. No chairs allowed in the Circle of Shame.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-lock fa-stack-2x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Upstairs = Off Limits</h4>
                    <p class="text-muted">
                      Only the hosts and pre-approved guests are allowed upstairs. Nobody is allowed upstairs without the hosts approval. Even if a cat is being cute or someone else says it's OK.
                    </p>
                </div>
            </div>
        </div>
    </section>
